:root {
  /* Colour Palette */
  --darkAccent: #483c86;
  --backgroundColor: #282842;
  --cardLight: #ae6fe2;
  --cardDark: #9565c8;
  --buttonLight: #61fae8;
  --buttonDark: #4fffc1;
  --offWhite: #faf5ff;
  --mintyWhite: #c2feda;

  /* Scaleable Font Sizes */
  --desktopHeader: 20px;
  --desktopBody: 18px;
  --mobileHeader: 16px;
  --mobileBody: 14px;
  --tabletHeader: 18px;
  --tabletBody: 16px;
}

body {
  background: linear-gradient(var(--backgroundColor), #2b1626);
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .modal-dialog.modal-dialog-slideout {
    width: 80%;
  }
}
.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  flex-flow: column;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}
.mainList {
  background-color: #00000000;
}
.taskDescBG {
  background-color: var(--cardLight);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.taskHeader {
  background-color: var(--cardDark);
  border-radius: 15px;
  box-shadow: 0px 8px #00000050;
  cursor: pointer;
}
.taskHeader > .btn {
  margin-right: 10px;
}

.sideBar {
  min-height: 100vh;
  background-color: var(--darkAccent);
  margin: 0;
  padding: 0;
}
.hero {
  margin: 0;
  padding: 0;
}

.taskHeader p {
  font-size: var(--desktopHeader);
  padding-top: 5px;
  color: var(--mintyWhite);
}
.taskDescBG p,
.taskDescBG li {
  font-size: var(--desktopBody);
  color: var(--mintyWhite);
}
.options {
  cursor: pointer;
}
.mobileLogo {
  height: 0;
}
@media (max-width: 1200px) {
  .taskHeader p {
    font-size: var(--tabletHeader);
  }
  .taskDescBG p,
  .taskDescBG li,
  .btn {
    font-size: var(--tabletBody);
  }
}

@media (max-width: 600px) {
  .taskHeader p {
    font-size: var(--mobileHeader);
  }
  .taskDescBG p,
  .taskDescBG li,
  .btn {
    font-size: var(--mobileBody);
  }
  .mobileLogo {
    height: fit-content;
    background-color: var(--darkAccent);
  }
}
